.card-view {
  display: flow-root;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .card-view {
    display: flow-root;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
}

@media screen and (max-width: 1079px) and (min-width: 768px) {
  .card-view {
    display: flow-root;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
}
