.confirm-lang-background {
  background-image: url("../../img/bg-lang.png");
  background-size: cover;
  max-height: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  object-fit: contain;
}
.confirm-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 40px;
}

.confirm-card-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0072bc;
  border-radius: 20px;
  width: 250px;
  height: 140px;
  flex-direction: row;
}
.confirm-het {
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-card-view > img:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.confirm-card-view > img:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 40px;
}

.confirm-top-text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  padding-top: 30px;
  font-size: 16px;
}

.confirm-top-text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-top: 5px;
}

.confirm-top-text2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0072bc;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  height: 30px;
  width: 70px;
}

.confirm-top-text3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.confirm-btn-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.confirm-btn-decline-o > button {
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.confirm-btn-confirm-o > button {
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 40px;
}

.ppp {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .confirm-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 35px;
    padding: 40px;
    padding-top: 60px;
  }

  .confirm-card-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 20px;
    width: 350px;
    height: 200px;
    flex-direction: row;
  }
  .confirm-het {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirm-card-view > img:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }

  .confirm-card-view > img:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin-left: 40px;
  }

  .confirm-top-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding-top: 30px;
    font-size: 35px;
  }

  .confirm-top-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 35px;
    padding-top: 10px;
  }

  .confirm-top-text2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 35px;
    height: 60px;
    width: 120px;
  }

  .confirm-top-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding-top: 50px;
  }

  .confirm-btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-top: 30px;
  }

  .confirm-btn-decline-o > button {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
  }

  .confirm-btn-confirm-o > button {
    border-radius: 30px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 75px;
  }

  .ppp {
    font-size: 24px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1079px) and (min-width: 768px) {
  .confirm-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 50px;
    padding: 40px;
    padding-top: 80px;
  }

  .confirm-card-view {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 20px;
    width: 550px;
    height: 300px;
    flex-direction: row;
  }
  .confirm-het {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirm-card-view > img:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
  }

  .confirm-card-view > img:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-left: 80px;
  }

  .confirm-top-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding-top: 70px;
    font-size: 55px;
  }

  .confirm-top-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 55px;
    padding-top: 40px;
  }

  .confirm-top-text2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 55px;
    height: 100px;
    width: 180px;
  }

  .confirm-top-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 36px;
    padding-top: 100px;
  }

  .confirm-btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-top: 30px;
  }

  .confirm-btn-decline-o > button {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
  }

  .confirm-btn-confirm-o > button {
    border-radius: 40px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 100px;
    width: 200px;
  }

  .ppp {
    font-size: 30px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1350px) and (min-width: 1080px) {
  .confirm-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 60px;
    padding: 40px;
    padding-top: 80px;
  }

  .confirm-card-view {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 40px;
    width: 750px;
    height: 400px;
    flex-direction: row;
  }
  .confirm-het {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirm-card-view > img:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
  }

  .confirm-card-view > img:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 150px;
  }

  .confirm-top-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding-top: 70px;
    font-size: 95px;
  }

  .confirm-top-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 95px;
    padding-top: 40px;
  }

  .confirm-top-text2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 60px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 95px;
    height: 150px;
    width: 320px;
  }

  .confirm-top-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 48px;
    padding-top: 100px;
  }

  .confirm-btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-top: 30px;
  }

  .confirm-btn-decline-o > button {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 300px;
  }

  .confirm-btn-confirm-o > button {
    border-radius: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 130px;
    width: 300px;
  }

  .ppp {
    font-size: 50px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1351px) {
  .confirm-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 70px;
    padding: 60px;
    padding-top: 120px;
  }

  .confirm-card-view {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 70px;
    width: 1150px;
    height: 700px;
    flex-direction: row;
  }
  .confirm-het {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .confirm-card-view > img:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
  }

  .confirm-card-view > img:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 270px;
  }

  .confirm-top-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    padding-top: 150px;
    font-size: 125px;
  }

  .confirm-top-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 125px;
    padding-top: 40px;
  }

  .confirm-top-text2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0072bc;
    border-radius: 70px;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 125px;
    height: 190px;
    width: 380px;
  }

  .confirm-top-text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 65px;
    padding-top: 140px;
  }

  .confirm-btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 20px;
    font-weight: 400;
    padding-top: 30px;
  }

  .confirm-btn-decline-o > button {
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 400px;
  }

  .confirm-btn-confirm-o > button {
    border-radius: 70px;
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 50px;
    height: 190px;
    width: 400px;
  }

  .ppp {
    font-size: 60px;
    font-weight: 500;
  }
}
